@charset "UTF-8";
/*@import custom-properties.css  variable :root {...} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--battleship-gray);
}

section.services__section2 {
  background-color: var(--platinum);
}

.service__section2-grupo1,
.services__section2-grupo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__section2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .services__section2-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
p {
  padding: 1.7rem;
}
p.section3-p {
  color: var(--platinum);
  font-size: 18px;
  padding-left: 2rem;
}
p.section4-p {
  padding: 0 1.7rem 1.7rem 1.7rem;
  color: var(--platinum);
  font-size: 18px;
}
p.sliderp-section1 {
  color: var(--platinum);
  padding: 0;
  padding-bottom: inherit;
  font-size: 18px;
}
p.footer__part-1-p, p.footer__part-2-p {
  color: var(--platinum);
  padding: 0 1.7rem 1.7rem 1.7rem;
  padding-bottom: inherit;
  font-size: 13px;
}
p.artistas-section3 {
  padding: 0 1.7rem 1.7rem 2rem;
  width: 280px;
  height: auto;
  color: var(--black);
  font-size: 14px;
}

@media (min-width: 600px) {
  p {
    -webkit-margin-before: revert;
            margin-block-start: revert;
    padding-left: 3.5rem;
  }
}
@media (min-width: 1024px) {
  p {
    -webkit-margin-before: revert;
            margin-block-start: revert;
    padding-left: 3rem;
  }
}
.social__media-section5-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--platinum);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: auto;
  background-color: var(--black);
  padding: 1.7rem;
}

@media (min-width: 1024px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
h1 {
  font-size: 30px;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.slider__section1 {
  font-size: 2rem;
}
.slider__section1 .slider-h1 {
  color: var(--platinum);
}

.galery__section3 {
  font-size: 2rem;
  margin-block: 1rem;
}
.galery__section3 .section3-h1 {
  color: var(--platinum);
  padding-left: 1.7rem;
}

h2 {
  font-size: 1.7rem;
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem;
  padding-left: 1.7rem;
  text-align: justify;
  padding-bottom: 1.1rem;
}
h2.section2-h2 {
  color: var(--dim-gray);
}
h2.section4-h2 {
  color: var(--platinum);
}

h3 {
  font-size: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}
h3.slider-h3-title {
  color: var(--platinum);
}
h3.footer__part-2-h3, h3.footer__part-1-h3 {
  color: var(--platinum);
  padding: 1.7rem 0 0 1.7rem;
}

h4 {
  color: var(--platinum);
  padding: 1rem 0px 0rem 1.7rem;
}

.section2-h3 {
  -webkit-margin-after: -2rem;
          margin-block-end: -2rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: var(--dim-gray);
}

@media (min-width: 768px) {
  .section2-h3 .section-h2 {
    padding-left: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .section2-h3 {
    padding-left: 3rem;
  }
}
/*el & sirve para llamar a su padre y poder poner la variable
especifica en ese unico selector que es un h3 en este caso.*/
h4 {
  font-size: 0.8rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

h6 {
  font-size: 0.1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

/*media queries*/
.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 12px;
  color: white;
  background: rgba(0, 0, 0, 0.2784313725);
  position: fixed;
  width: 100%;
  height: 90px;
  align-items: center;
  -js-display: flex;
}

.topbar__nav-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.topbar__nav-ul {
  text-decoration: none;
  color: white;
  font-size: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fill-available;
  display: none;
}
.topbar__nav-ul li a {
  color: var(--platinum);
}
.topbar__nav-ul li {
  list-style-type: none;
}

@media (min-width: 950px) {
  .topbar__nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.topbar__nav-logo {
  width: 250px;
  height: auto;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-line: none;
  text-decoration-color: white;
}

.slider__section1--content {
  background-image: url(../img/landing/portada_imagen.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 10%;
}

@media (min-width: 1024px) {
  .slider__section1--content {
    padding: 10% 55% 5% 10%;
  }
}
.services__section2-image1 {
  background-image: url(../img/landing/enmarcaciones-img.png);
  width: 340px;
  height: 340px;
  background-position: 50% 50%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.services__section2-image2 {
  background-image: url(../img/landing/giclée2_ctysim_c_scale\,w_843.png);
  width: 340px;
  height: 340px;
  background-position: 50% 50%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 600px) {
  .services__section2-image1, .services__section2-image2 {
    width: 80%;
    height: 340px;
    background-position: 50% 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1280px) {
  .services__section2-image1, .services__section2-image2 {
    width: 70%;
    height: 340px;
    background-position: 50% 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.galery__section3 {
  background-image: url(../img/landing/gale3.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 10%;
}

@media (min-width: 1024px) {
  .galery__section3 {
    padding: 5% 55% 5% 10%;
    height: 80vh;
  }
}
.contact__section4--epoca {
  background-image: url(../img/landing/galeria_epoca_1162_mascara.png);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 13% 87%;
}

@media (min-width: 1024px) {
  .contact__section4--epoca {
    padding: 5% 55% 5% 10%;
    height: 80vh;
  }
}
.galery__section3--content {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1024px) {
  .galery__section3--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.galery__section3-foto {
  width: 320px;
  height: 320px;
  margin: 30px;
}

.social__media-section5 {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.social__media-section5 .sm {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1024px) {
  .social__media-section5 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social__media-section5 .sm {
    width: 4.5rem;
    height: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
  }
}
.footer__parte-3-logo {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__parte-3-logo .logo-salu {
  width: 20rem;
  height: auto;
  margin-bottom: inherit;
}

html {
  font-family: "Poppins", sans-serif;
}

.slider__secction1--button,
.services__section2--button,
.contact__section4--button,
.galery__section3--button,
.footer__content--button-colec,
.footer__content--button-map {
  width: 220px;
  height: 50px;
  color: var(--platinum);
  background-color: var(--fire-engine-red);
  border-radius: 12px;
  text-align: center;
  cursor: pointer; /* manito cursor de puntero utilizado cuando se pasa por encima de los enlaces (típicamente una mano)*/
  display: inline-block;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.services__section2--button,
.galery__section3--button,
.contact__section4--button,
.footer__content--button-colec,
.footer__content--button-map {
  margin-left: 1.7rem;
  margin-bottom: 1.7rem;
}

.footer__content--button-colec,
.footer__content--button-map {
  margin-top: 1.7rem;
}

.slider__secction1--button:hover,
.services__section2--button:hover,
.galery__section3--button:hover,
.contact__section4--button:hover,
.footer__content--button-colec:hover,
.footer__content--button-map:hover {
  background-color: var(--poppy);
  color: var(--platinum);
  border-color: var(--battleship-gray);
}

@media (min-width: 1024px) {
  .slider__secction1--button, .services__section2--button {
    -webkit-margin-before: revert;
            margin-block-start: revert;
  }
}
@media (min-width: 600px) {
  .services__section2--button {
    margin-left: 4.5rem;
    margin-bottom: 3.5rem;
  }
}
:root {
  --fire-engine-red: hsla(358, 92%, 49%);
  --poppy: hsla(358, 72%, 53%);
  --platinum: hsla(0, 4%, 95%);
  --battleship-gray: hsla(60, 1%, 61%, 1);
  --dim-gray: hsla(0, 0%, 24%);
  --black: hsla(0, 0%, 0%, 1);
  --mascara: hsla(0, 0%, 0%, 0.4);
}

/*:root {
    /* SCSS HSL */
/*
$fire-engine-red: hsla(358, 81%, 46%, 1);
$poppy: hsla(358, 68%, 55%, 1);
$platinum: hsla(0, 10%, 92%, 1);
$battleship-gray: hsla(60, 1%, 61%, 1);
$dim-gray: hsla(60, 0%, 41%, 1);
$black: hsla(0, 0%, 0%, 1);
} */
/* SCSS Gradient */
/*
$gradient-top: linear-gradient(0deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-right: linear-gradient(90deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-left: linear-gradient(270deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-radial: radial-gradient(#D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);

*/
.menu-burger {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-top: 20px;
  left: 85%;
  right: 10%;
}

.menu-burger span {
  display: block;
  width: 50%;
  height: 2px;
  margin-top: 6px;
  background: red;
  -webkit-transform-origin: 0px 100%;
          transform-origin: 0px 100%;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.activeline1__menu-burger {
  -webkit-transform: rotate(45deg) translate(-2px, 1px);
          transform: rotate(45deg) translate(-2px, 1px);
}

.activeline3__menu-burger {
  -webkit-transform: rotate(-45deg) translate(-4px, 2px);
          transform: rotate(-45deg) translate(-4px, 2px);
}

.activeline2__menu-burger {
  opacity: 0;
  margin-left: -30px;
}

@media (min-width: 950px) {
  .menu-burger {
    display: none;
  }
}
/*desde aqui se supone que deberia 
construir e menu desplegable en mobile*/
@media screen and (max-width: 950px) {
  .topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    background: rgba(0, 0, 0, 0.2784313725);
    position: fixed;
    width: 100%;
    height: 34px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -js-display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  .topbar__nav-container {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 270px;
    height: 50vh;
    padding: 0px;
    background-color: var(--black);
    color: var(--platinum);
    background-color: var(--black);
    color: var(--platinum);
    -webkit-box-pack: unsafe;
        -ms-flex-pack: unsafe;
            justify-content: unsafe;
  }
  .topbar__nav-container--open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topbar__nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: -13px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .topbar__nav-ul li a {
    color: var(--platinum);
    margin-bottom: 20px;
  }
  .topbar__nav-ul li {
    list-style-type: none;
  }
}
/*
@import lists
@import forms
@import link
@import buttons
@import mediaquery se pueden tener debajo del elemento que afecta, el problema que tiene es que se repite muchas veces, pero es mínimo y vale la pena
@import hover-efects
@import input
ofrecer temas oscuros, se definen, pero si no hay, el navegador los define por descarte
@import colors. paleta de colors, con properties AKA variables (color color vgd), (color   */